<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container" id="contact">



        <div class="row" style="padding: 40px;padding-top: 100px;">

            <div class="col-sm-12">
                <h1>Contact</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, corporis. Eum rerum eius at ut,
                    repellendus neque possimus minima quos impedit ratione dolorum, sunt pariatur labore amet. Iste
                    cupiditate in perferendis ex voluptatibus excepturi laboriosam saepe veritatis modi quod nulla quo
                    ab consequuntur, numquam itaque officiis. Pariatur sit minus autem?</p>


            </div>
        </div>

        <div class="row">

            <div class="col-sm-3"></div>

            <div class="col-sm-6">
                <form class="form-inline form-control";>

                    <div class="form-group mb-12">
                        <label for="staticEmail2" class="sr-only">Email</label>
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Your Email"
                            style="width: 150px;">
                    </div>
                    <div class="form-group mx-sm-3 mb-10">
                        <label for="inputPassword2" class="sr-only">Your Email</label>
                        <input type="password" class="form-control form-control-lg " id="inputPassword2" placeholder="Your Email">
                    </div>

                    <div class="form-group" style="padding: 10px;">
                        <label for="exampleFormControlTextarea1">Your Message</label>
                        <textarea class="form-control form-control-lg " id="exampleFormControlTextarea1" rows="3"
                            placeholder="Your Message" style="margin-left: 61px;"></textarea>

                    </div>


                </form>


            </div>

            <div class="col-sm-3"></div>



        </div>
        <div class="row">

            <div class="col-sm-8"></div>

            <div class="col-sm-3" style="margin-right: 20px;">
                <button type="button" class="btn btn-primary">Submit</button>

            </div>

            <div class="col-sm-1"></div>

        </div>






    </div>





</body>

</html>