    <div class="container mt-5">
       <hr>
    </div>
    <div class="container mt-5" id="firstHeading">
        <div class="row">
            <div class="col-md-8">
                <h1>The Firts Heading Wil cath Your Eye</h1>
    
                <p style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam, ad vitae ipsum rem accusantium sit. Ea hic veniam ullam quae, cumque eveniet corporis ratione ab cupiditate quis sapiente aut voluptatum porro neque alias aliquid itaque commodi. Cumque saepe, repellendus rerum ipsum laborum enim esse non accusamus nulla perferendis sapiente? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde repellendus dolore distinctio nulla facere asperiores. Aspernatur a voluptas enim, eius tempora expedita quaerat veniam non voluptates accusantium! Laborum quos, vitae, expedita necessitatibus deleniti, libero ducimus reiciendis eligendi et voluptatibus sed molestias repudiandae impedit? Non libero totam saepe mollitia repellat ipsa.</p>
            
            </div>
            <div class="col-md-4"><img src="/website1/assets/img/1.jpg" alt="..." class="rounded-circle" width="300" style="margin-right: 60px;"></div>
        </div>

    </div>
    <div class="container mt-5">
        <hr>
    </div>