<div class="container mt-5 mb-5" id="portfolio">
    <h2>Portfolio</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis quod pariatur excepturi a, consectetur mollitia magnam commodi laborum repellendus explicabo, dolores eaque ullam sapiente illo!</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0">
                <img src="/website1/assets/img/big-project-image.png" class="mb-3" alt="....">
                <div class="card-body p-0">
                    <h4 class="text-primary">Project Name</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officia
                            nihil voluptate atque veritatis eveniet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img src="/website1/assets/img/big-project-image.png" class="mb-3" alt="...">
                <div class="card-body p-0">
                    <h4 class="text-primary">Project Name</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officia
                            nihil voluptate atque veritatis eveniet.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-0">
                <img src="/website1/assets/img/big-project-image.png" class="mb-3" alt="...">
                <div class="card-body p-0 ">
                    <h4 class="text-primary">Project Name</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officia
                            nihil voluptate atque veritatis eveniet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <hr>
</div>